<!DOCTYPE html>
<html>
    <head>
        
        
    </head>
    
    <body>
        <p>You have a new message from your website HobbyMatch.</p>
        
        <p>Your message is from <%= "#{ @name }." %></p>
        
        <p>Their email address is <% "#{ @email }." %></p>
        
        <p><%= "'#{ @body }" %></p>
        
    </body>
    
</html>